@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>
                <div class="main">
                    @Body
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <p>Du er ikke logget ind.</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
