@page "/gameanimals"
@using JagtApp.Models
@using JagtApp.Services
@inject GameAnimalService GameAnimalService

<h3>Vildtarter</h3>

<p>Dette er siden for vildtarter.</p>
<p>Her kan du se alle jagtbare vildtarters jagtsæsoner.</p>

@if (gameAnimals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var gameAnimal in gameAnimals)
        {
            <li>
                @gameAnimal.GameName (@gameAnimal.GameClass)
                @if (gameAnimal.HuntingSeasons.Any())
                {
                    <ul>
                        @foreach (var season in gameAnimal.HuntingSeasons)
                        {
                            <li>
                                @season.GetStartDate(DateTime.Now.Year).ToString("dd MMMM") - @season.GetEndDate(DateTime.Now.Year).ToString("dd MMMM")
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>Ingen jagtsæson</p>
                }
            </li>
        }
    </ul>
}

@code {
    private List<GameAnimal> gameAnimals;

    protected override async Task OnInitializedAsync()
    {
        gameAnimals = await GameAnimalService.GetGameAnimals();
    }
}
