@page "/"

<PageTitle>Home</PageTitle>

<h1>Robins JagtApp</h1>

Velkommen til mit svendestykke.
I menuen til venstre har du mulighed for at oprette en bruger og logge ind. Derefter vil du se nogle flere muligheder.
