@page "/userammunition"
@using JagtApp.Services
@using JagtApp.Models
@inject UserAmmunitionService UserAmmunitionService
@inject NavigationManager NavigationManager

<h3>Min Ammunition</h3>

@if (userAmmunitions == null)
{
    <p>Loading...</p>
}
else if (!userAmmunitions.Any())
{
    <p>Du har ingen ammunition registreret.</p>
}
else
{
    <ul>
        @foreach (var ammo in userAmmunitions)
        {
            <li>
                @ammo.AssociatedCartridge.CartridgeName: @ammo.Quantity stk.
                <a href="/userammunition/edit/@ammo.Id" class="btn btn-secondary btn-sm">Rediger</a>
            </li>
        }
    </ul>
}

<a href="/userammunition/create" class="btn btn-primary">Tilføj ny ammunition</a>

@code {
    private List<UserAmmunition> userAmmunitions;

    protected override async Task OnInitializedAsync()
    {
        userAmmunitions = await UserAmmunitionService.GetUserAmmunition();
    }
}
